{% extends 'base/main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Register</h1>
</div>
<br>


<form method="Post">
    {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}
    <br><br>
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <br><br>
    <label>{{form.password2.label}}</label>
    {{form.password2}}
    <br><br>
    <input class="button" type="submit" value="Register">
</form>

<p> Already have an account?<a href="{% url 'login' %}">  Login</a></p>
{% endblock content %}